<button type="submit" <%= onclick == true ? "onclick = #{function}" : '' %> aria-label="Submit" class="flex aspect-square h-[3rem] w-[3rem] items-center justify-center rounded-xl bg-neutral-950 text-white transition hover:bg-neutral-800">
  <svg viewBox="0 0 16 6" aria-hidden="true" class="w-4">
    <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M16 3 10 .5v2H0v1h10v2L16 3Z"></path>
  </svg>
</button>
