<div class="mt-10 grid grid-cols-12 gap-2">
  <div class="md:col-span-3 sm:col-span-4 col-span-6 shadow-sm border dark:border-gray-500 rounded-lg h-[8rem] p-4">
    <div class="flex gap-2 items-center">
      <svg class="w-7 h-7" viewBox="-4.2 -4.2 29.40 29.40" xmlns="http://www.w3.org/2000/svg" fill="#000000" stroke="#000000" stroke-width="1.05"><g id="SVGRepo_bgCarrier" stroke-width="0"><rect class="fill-gray-200 dark:fill-gray-400 shadow-sm" x="-4.2" y="-4.2" width="29.40" height="29.40" rx="5.88" strokewidth="0"></rect></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g fill="none" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" transform="translate(1 3)"> <path d="m17.5 8.5v3c0 1.2994935-3.1340068 3-7 3-3.86599325 0-7-1.7005065-7-3 0-.4275221 0-1.2608554 0-2.5"></path> <path d="m3.79385803 9.25873308c.86480173 1.14823502 3.53999333 2.22489962 6.70614197 2.22489962 3.8659932 0 7-1.60524016 7-2.98595204 0-.77476061-.9867994-1.62391104-2.5360034-2.22001882"></path> <path d="m14.5 3.5v3c0 1.29949353-3.1340068 3-7 3-3.86599325 0-7-1.70050647-7-3 0-.64128315 0-2.35871685 0-3"></path> <path d="m7.5 6.48363266c3.8659932 0 7-1.60524012 7-2.985952 0-1.38071187-3.1340068-2.99768066-7-2.99768066-3.86599325 0-7 1.61696879-7 2.99768066 0 1.38071188 3.13400675 2.985952 7 2.985952z"></path> </g> </g></svg>
      <p class="text-sm text-black font-semibold dark:text-gray-200">Profit</p>
    </div>
    <div class="mt-2">
      <p class="text-2xl font-sans text-black font-medium dark:text-white">$69000</p>
    </div>
    <div class="mt-2 flex items-center">
      <p class="text-xs font-sans text-[green] font-medium dark:text-white">Grow 2.3% past month</p>
      <svg class="w-5 h-5 ml-2" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title>ionicons-v5-c</title><polyline points="352 144 464 144 464 256" style="fill:none;stroke:green;stroke-linecap:square;stroke-miterlimit:10;stroke-width:32px"></polyline><polyline points="48 368 192 224 288 320 448 160" style="fill:none;stroke:green;stroke-linecap:square;stroke-miterlimit:10;stroke-width:32px"></polyline></g></svg>
    </div>
  </div>
  <div class="md:col-span-3 sm:col-span-4 col-span-6 shadow-sm border dark:border-gray-500 rounded-lg h-[8rem] p-4">
    <div class="flex gap-2 items-center">
      <svg class="w-7 h-7" viewBox="-4.8 -4.8 33.60 33.60" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"><rect class="fill-gray-200 dark:fill-gray-400 shadow-sm" x="-4.8" y="-4.8" width="33.60" height="33.60" rx="6.72" strokewidth="0"></rect></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M16 8H17.1597C18.1999 8 19.0664 8.79732 19.1528 9.83391L19.8195 17.8339C19.9167 18.9999 18.9965 20 17.8264 20H6.1736C5.00352 20 4.08334 18.9999 4.18051 17.8339L4.84718 9.83391C4.93356 8.79732 5.80009 8 6.84027 8H8M16 8H8M16 8L16 7C16 5.93913 15.5786 4.92172 14.8284 4.17157C14.0783 3.42143 13.0609 3 12 3C10.9391 3 9.92172 3.42143 9.17157 4.17157C8.42143 4.92172 8 5.93913 8 7L8 8M16 8L16 12M8 8L8 12" stroke="#000000" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
      <p class="text-sm text-black font-semibold dark:text-gray-200">Total Order</p>
    </div>
    <div class="mt-2">
      <p class="text-2xl font-sans text-black font-medium dark:text-white">120</p>
    </div>
    <div class="mt-2 flex items-center">
      <p class="text-xs font-sans text-[green] font-medium dark:text-white">Grow 2.3% past month</p>
      <svg class="w-5 h-5 ml-2" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title>ionicons-v5-c</title><polyline points="352 144 464 144 464 256" style="fill:none;stroke:green;stroke-linecap:square;stroke-miterlimit:10;stroke-width:32px"></polyline><polyline points="48 368 192 224 288 320 448 160" style="fill:none;stroke:green;stroke-linecap:square;stroke-miterlimit:10;stroke-width:32px"></polyline></g></svg>
    </div>
  </div>
  <div class="md:col-span-3 sm:col-span-4 col-span-6 shadow-sm border dark:border-gray-500 rounded-lg h-[8rem] p-4">
    <div class="flex gap-2 items-center">
      <svg class="w-7 h-7" viewBox="-4.8 -4.8 33.60 33.60" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"><rect class="fill-gray-200 dark:fill-gray-400 shadow-sm" x="-4.8" y="-4.8" width="33.60" height="33.60" rx="6.72" strokewidth="0"></rect></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7.2998 5H22L20 12H8.37675M21 16H9L7 3H4M4 8H2M5 11H2M6 14H2M10 20C10 20.5523 9.55228 21 9 21C8.44772 21 8 20.5523 8 20C8 19.4477 8.44772 19 9 19C9.55228 19 10 19.4477 10 20ZM21 20C21 20.5523 20.5523 21 20 21C19.4477 21 19 20.5523 19 20C19 19.4477 19.4477 19 20 19C20.5523 19 21 19.4477 21 20Z" stroke="#000000" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
      <p class="text-sm text-black font-semibold dark:text-gray-200">Total On Progress Order</p>
    </div>
    <div class="mt-2">
      <p class="text-2xl font-sans text-black font-medium dark:text-white">60</p>
    </div>
    <div class="mt-2 flex items-center">
      <p class="text-xs font-sans text-[red] font-medium dark:text-white">Loss 2.3% past month</p>
      <svg class="w-4 h-4 ml-2" viewBox="0 0 512.00 512.00" xmlns="http://www.w3.org/2000/svg" fill="#000000" transform="rotate(90)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title>ionicons-v5-c</title><polyline points="352 144 464 144 464 256" style="fill:none;stroke:red;stroke-linecap:square;stroke-miterlimit:10;stroke-width:32px"></polyline><polyline points="48 368 192 224 288 320 448 160" style="fill:none;stroke:red;stroke-linecap:square;stroke-miterlimit:10;stroke-width:32px"></polyline></g></svg>
    </div>
  </div>
  <div class="md:col-span-3 sm:col-span-4 col-span-6 shadow-sm border dark:border-gray-500 rounded-lg h-[8rem] p-4">
    <div class="flex gap-2 items-center">
      <svg class="w-7 h-7" viewBox="-4.8 -4.8 33.60 33.60" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"><rect class="fill-gray-200 dark:fill-gray-400 shadow-sm" x="-4.8" y="-4.8" width="33.60" height="33.60" rx="6.72" strokewidth="0"></rect></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M20 14.5L19.2609 9.69588C19.1108 8.72022 18.2713 8 17.2842 8H6.71584C5.7287 8 4.8892 8.72022 4.73909 9.69589L3.35448 18.6959C3.16809 19.9074 4.10545 21 5.33122 21H12" stroke="#000000" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M14 19L17 22L22 17" stroke="#000000" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M14 5C14 3.89543 13.1046 3 12 3C10.8954 3 10 3.89543 10 5" stroke="#000000" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
      <p class="text-sm text-black font-semibold dark:text-gray-200">Total Complete Order</p>
    </div>
    <div class="mt-2">
      <p class="text-2xl font-sans text-black font-medium dark:text-white">60</p>
    </div>
    <div class="mt-2 flex items-center">
      <p class="text-xs font-sans text-[red] font-medium dark:text-white">Loss 2.3% past month</p>
      <svg class="w-4 h-4 ml-2" viewBox="0 0 512.00 512.00" xmlns="http://www.w3.org/2000/svg" fill="#000000" transform="rotate(90)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title>ionicons-v5-c</title><polyline points="352 144 464 144 464 256" style="fill:none;stroke:red;stroke-linecap:square;stroke-miterlimit:10;stroke-width:32px"></polyline><polyline points="48 368 192 224 288 320 448 160" style="fill:none;stroke:red;stroke-linecap:square;stroke-miterlimit:10;stroke-width:32px"></polyline></g></svg>
    </div>
  </div>
</div>
<div class="mt-4 grid grid-cols-12 gap-2">
  <div class="col-span-6 shadow-sm border dark:border-gray-500 rounded-lg h-[35rem]">

  </div>
  <div class="col-span-6 grid grid-rows-12 rounded-lg h-[35rem] gap-4">
    <div class="row-span-6 shadow-sm border dark:border-gray-500 rounded-lg h-[17rem]" id="container">

    </div>
    <div class="row-span-6 shadow-sm border dark:border-gray-500 rounded-lg h-[17rem]">

    </div>
  </div>
</div>
<div id="revenue_chart">

</div>

<%= javascript_include_tag('/shop/admin/highchart') %>