<div class="bg-white dark:bg-gray-800">
  <img src="<%= asset_path('cross_circle.svg') %>" class="w-4 h-4 hidden" id="cross_circle">
  <div class="bg-white dark:bg-gray-800 py-12 px-3 md:px-0 rounded-2xl">
    <%= form_with(url: '/shop/admin/products', method: :post, html: { id: 'product_form' }) do |f| %>
      <%= render 'form', f: f, product: nil %>
    <% end %>
  </div>
</div>

<script>
    var count = 1
    var variant_count = 0
</script>