<button type="button" onclick="<%= click %>" class="w-7 h-7 rounded-full bg-[<%= color %>] flex items-center justify-center focus:border-[<%= color %>] focus:border focus:outline-white focus:ring-0 !outline-none">
  <h1 class="text-sm w-6 h-6 rounded-full"></h1>
</button>